# LIST

In [1]:
#A list is container which can hold any kind of datatypes in it 
#list is a complex datatype which is derived from LIST OBJECT 
#List is always stored in ordered sequence starting from 0

In [2]:
lst = ["Navya",1,23.4,[1,2,3]]

In [3]:
lst

['Navya', 1, 23.4, [1, 2, 3]]

In [4]:
lst[1]

1

In [5]:
lst[3][2]

3

In [7]:
lst.append("Nisha")

In [8]:
lst

['Navya', 1, 23.4, [1, 2, 3], 'Nisha']

In [9]:
lst.reverse()

In [10]:
lst

['Nisha', [1, 2, 3], 23.4, 1, 'Navya']

In [11]:
lst.index(23.4)

2

In [12]:
lst.pop(1)

[1, 2, 3]

In [13]:
lst

['Nisha', 23.4, 1, 'Navya']

In [16]:
lst.insert(1,2)

In [17]:
lst

['Nisha', 2, 23.4, 1, 'Navya']

In [18]:
lst.copy()

['Nisha', 2, 23.4, 1, 'Navya']

In [19]:
lst.count(1)

1

In [20]:
lst.remove(2)

In [21]:
lst

['Nisha', 23.4, 1, 'Navya']

In [22]:
lst.clear()

In [23]:
lst

[]

# DICTIONARIES

In [32]:
#This is KEY value pair data structure
#it is complex
#it is an object of DICT class in python

In [24]:
dit={"name":"Navyashree","age":20,"number":9448618616,"email":"navyashreenr2000@gmail.com"}

In [25]:
dit

{'name': 'Navyashree',
 'age': 20,
 'number': 9448618616,
 'email': 'navyashreenr2000@gmail.com'}

In [27]:
dit.get("name")

'Navyashree'

In [28]:
dit.items()

dict_items([('name', 'Navyashree'), ('age', 20), ('number', 9448618616), ('email', 'navyashreenr2000@gmail.com')])

In [29]:
dit.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [30]:
dit.pop("age")

20

In [31]:
dit

{'name': 'Navyashree',
 'number': 9448618616,
 'email': 'navyashreenr2000@gmail.com'}

In [37]:
dit.popitem()

('email', 'navyashreenr2000@gmail.com')

In [38]:
dit

{'name': 'Navyashree', 'number': 9448618616}

In [39]:
dit.copy()

{'name': 'Navyashree', 'number': 9448618616}

In [41]:
dit.fromkeys("name")

{'n': None, 'a': None, 'm': None, 'e': None}

In [42]:
dit.update()

In [43]:
dit

{'name': 'Navyashree', 'number': 9448618616}

In [44]:
type(dit)

dict

# SETS

In [45]:
#Sets are used for storing unique values in the python unordered collection of unique objects
#sets are a class in python whose objects can be derived 
#sets are mostly used for finding UNION,DISJOINT and finding common and uncommons in the python datatype

In [49]:
st = {"Ramesh","Malnad college of Engineering",1,2,3,3,3,4,4,5}

In [50]:
st

{1, 2, 3, 4, 5, 'Malnad college of Engineering', 'Ramesh'}

In [51]:
st1= {"Ramesh",1,2,3}

In [52]:
st1

{1, 2, 3, 'Ramesh'}

In [71]:
st1.isdisjoint(st)

True

In [72]:
 st.issubset(st1)

False

In [55]:
st1.issubset(st)

True

In [56]:
st.copy()

{1, 2, 3, 4, 5, 'Malnad college of Engineering', 'Ramesh'}

In [57]:
st.add("Mamatha")

In [58]:
st

{1, 2, 3, 4, 5, 'Malnad college of Engineering', 'Mamatha', 'Ramesh'}

In [63]:
st.intersection("Malnad college of Engineering")

set()

In [64]:
st.clear()

In [65]:
st

set()

In [67]:
st.add("Navya")

In [68]:
st

{'Navya'}

In [69]:
st.intersection_update()

In [70]:
st

{'Navya'}

# TUPLE

In [74]:
#Tuple is an ordered immutable sequence of objects
#once the data is written its in that for ever
#it Can't be changed

In [76]:
tup=("Navyashree","%","Mythri convent.in","Hassan","Karnataka")

In [77]:
tup

('Navyashree', '%', 'Mythri convent.in', 'Hassan', 'Karnataka')

In [79]:
tup.index("Karnataka")

4

In [80]:
tup[1]

'%'

In [81]:
tup[0]

'Navyashree'

In [82]:
tup.count("Mythri convent.in")

1

In [83]:
tup[3]

'Hassan'

# STRING

In [ ]:
#string is datatype to store Characters

In [84]:
name = "Navyashree"
name1 = "Visha"
name2 = "Nisha"

In [85]:
name

'Navyashree'

In [86]:
name1+ name

'VishaNavyashree'

In [87]:
name1 + "space" +name2

'VishaspaceNisha'

In [88]:
type(name)

str

In [90]:
name2

'Nisha'

# BOOLEAN

In [ ]:
#Boolean
#The data type which stores TRUE or FALSE

In [91]:
abc = True

In [92]:
xyz = False

In [93]:
abc

True

In [95]:
xyz

False

# INTEGER

In [97]:
#Integer
#whole number

a = 45
b = 10

In [98]:
a

45

In [99]:
a+b

55

In [100]:
a-b

35

In [101]:
type(b)

int

In [102]:
a*b

450

In [105]:
int(a/b)

4

In [104]:
type(a)

int

# FLOAT

In [107]:
#Floating number/float

a = 7.1
b = 8.4
c= 21.7

In [108]:
a+b+c

37.2

In [109]:
a

7.1

In [110]:
type(c)

float

In [111]:
c+b

30.1

In [112]:
c-a

14.6